html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /*padding-top: 70px;*/
    margin-top:20px;
}


 ul.nav-pills {
     top: 80px;
     position: fixed;
 }
 div.col-sm-9 div {
     font-size: 28px;
 }
 #section1 {padding-top:50px;height:800px;color: black; background-color: #fff;}
 #section2 {padding-top:50px;height:800px;color: black; background-color: #eee;}
 #section3 {padding-top:50px;height:800px;color: black; background-color: #fff;}


 @media screen and (max-width: 810px) {
   #section1, #section2, #section3  {
       margin-left: 150px;
   }
 }
